################################################################################
#
# Тестовый конфиг.
# Копия рабочего .env-файла из корня проекта, с измененными значениями
# параметров.
#
################################################################################

# Окружение:
# production - для рабочего использования (в файле .env);
# testing - для запусков тестов (в файле tests/.env).
APP_ENV=testing

# Параметры только для Docker
DATA_PATH_HOST=/var/v-novel-medterms

# Параметры подключения к БД
# Важно: для тестов используйте отдельную БД (DB_NAME)
DB_HOST=localhost
DB_NAME=ci-novel-medterms
DB_USER=default
DB_PASSWORD=secret
DB_PORT=5432

# Email адрес для запросов в PubMed. Регистрация не требуется. Нужен для идентификации запросов
NCBI_EMAIL=

# Не обязательно. API ключ для увеличения лимитов запросов.
# Ключ можно получить после регистрации тут: https://account.ncbi.nlm.nih.gov/settings/
NCBI_API_KEY=

# API-ключ UMLS для работы со словарями.
# Ключ можно получить после регистрации и одобрения тут: https://uts.nlm.nih.gov/uts/profile
UMLS_API_KEY=
