################################################################################
#
# Тестовый конфиг. Копия .env-файла, с измененными значениями.
#
################################################################################

APP_ENV=testing

# Docker only ##################################################################
DATA_PATH_HOST=/var/v-novel-medterms

# Database
DB_HOST=localhost
DB_NAME=ci-novel-medterms
DB_USER=default
DB_PASSWORD=secret
DB_PORT=5498
